# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\陶庵梦忆网页\taoanmengyi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
